<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.venuatu.carder"
    android:versionCode="10002"
    android:versionName="1.0.2">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />


    <application
        android:label="Steven Manuatu"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.MyTheme"
            >

        <activity
          android:label="Steven Manuatu"
          android:name=".MainActivity"
          android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
